<p-messages [(value)]="msgs"></p-messages>
<form [formGroup]="vehicleCloneForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="row">
      <div class="form-group">
        <label>Plate:</label>
        <input type="text" formControlName="plate" pInputText>
      </div>
    </div>

    <div class="actions">
      <button pButton type="submit" label="Save" icon="pi pi-check" class="save-btn"></button>
      <button pButton type="button" (click)="onCancel()" label="Cancel"  icon="pi pi-times" class="cancel-btn"></button>
    </div>
  </div>
</form>