<p-messages [(value)]="msgs"></p-messages>
<form [formGroup]="vehicleEditForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="row">
      <div class="form-group">
        <label>Plate:</label>
        <input type="text" formControlName="plate" pInputText>
      </div>

      <div class="form-group">
        <label>Manufacturer:</label>
        <input type="text" formControlName="manufacturer" pInputText required>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label>Make:</label>
        <input type="text" formControlName="make" pInputText required>
      </div>

      <div class="form-group">
        <label>Comercial name:</label>
        <input type="text" formControlName="commercialName" pInputText required>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label>VIN Number:</label>
        <input type="text" formControlName="vinNumber" pInputText required>
      </div>

      <div class="form-group">
        <label>Capacity:</label>
        <input type="number" formControlName="capacity" pInputText>
      </div>
    </div>

    <div class="actions">
      <button pButton type="submit" label="Save" icon="pi pi-check" class="save-btn"></button>
      <button pButton type="button" (click)="onCancel()" label="Cancel"  icon="pi pi-times" class="cancel-btn"></button>
    </div>
  </div>
</form>