<div>
  
  <p-card title="Vehicles">

    <div class="top-bar">
      <button pButton type="button" icon="pi pi-plus" title="Add Vehicle" (click)="showNewVehicleDialog()"></button>
    </div>

    git pull <remote> <branch>

    <p-messages [(value)]="msgs"></p-messages>

      <!--Popup to create a new vehicle-->
    <p-dialog header="Add new vehicle" [(visible)]="displayNewVehicleDialog" [modal]="true" [closable]="true">
      <app-add-vehicle-form (vehicleAdded)="onVehicleAdded($event)" (cancel)="closeNewVehicleDialog()"></app-add-vehicle-form>
    </p-dialog>
    
    <p-dialog header="Edit vehicle" [(visible)]="displayEditDialog" [modal]="true" [closable]="true">
      <app-edit-vehicle-form [vehicleData]="selectedVehicle" (vehicleUpdated)="onVehicleUpdated($event)" (cancel)="closeEditDialog()"></app-edit-vehicle-form>
    </p-dialog> 

    <p-dialog header="Clone vehicle" [(visible)]="displayCloneDialog" [modal]="true" [closable]="true">
      <app-clone-vehicle-form [vehicleData]="selectedVehicle" (clonedVehicle)="onVehicleCloned($event)" (cancel)="closeCloneDialog()"></app-clone-vehicle-form>
    </p-dialog> 

    
    <!--Button to sort by plate-->
    <div class=buttonFilterSpace>
      <button pButton  type="button" label="Sort by ID" icon="pi pi-filter" (click)="loadVehicles()"></button>
      <button pButton  type="button" label="Sort by Plate" icon="pi pi-filter" (click)="sortVehicles()"></button>
      
    </div>

    <p-table #ptable [value]="vehicleList"
             [paginator]="false" [lazy]="true"
             [responsive]="true" [scrollable]="true"
             sortField="id"
             [sortOrder]="1">


      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>ID</th>
          <th>Plate</th>
          <th>Manufacturer</th>
          <th>Make</th>
          <th>Commercial Name</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td>{{rowData.id}}</td>
          <td>{{rowData.plate}}</td>
          <td>{{rowData.manufacturer}}</td>
          <td>{{rowData.make}}</td>
          <td>{{rowData.commercialName}}</td>
          <td class="actions-col">
            <button pButton type="button" Button class="ui-button-raised" icon="pi pi-clone" title="Clone" (click)="onCloneVehicle(rowData)"></button>
            <button pButton type="button" Button class="ui-button-raised" icon="pi pi-pencil" title="Edit" (click)="onEditVehicle(rowData)"></button>
            <button pButton type="button" Button class="ui-button-raised" icon="pi pi-trash" title="Delete" (click)="deleteVehicle(rowData.id)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
