.top-bar{
    display: flex;
    align-items: center; /* Alinea verticalmente el título y el botón */
    gap: 10px;
}

button {
    margin-left: auto; 
    margin-bottom: 10px;
  }

.buttonFilterSpace {
    display: inline-flex;
    align-items: left; /* Alinea verticalmente el título y el botón */     
  gap: 10px;
}